@model WebParkingMVC.Models.gmailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendMail</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SendEmail", "Mail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.TextBoxFor(model => model.To);
            @Html.TextBoxFor(model => model.Subject);

            @Html.TextAreaFor(model => model.Body, new { rows = "15", cols = "25" });


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Book" class="btn btn-default" />
                </div>
            </div>

        }
    </div>
</body>
</html>
