
@{
    ViewBag.Title = "SearchAvalilableRooms";
}

<h2>SearchAvalilableRooms</h2>

@using (Html.BeginForm("AvailableParkingTypes", "Home", FormMethod.Post))
{
    <input type="date" name="startDate" value="" />
    <input type="date" name="endDate" value="" />
    <input type="submit" value="Get Rooms" />
}

